{% extends 'base.html' %}
{% block main %}
    <main class="aboutUs-main">
        <h1>О нас</h1> <!--Заголовок второго уровня-->
        <section class="section-aboutUS">
            <img src="{{ url_for('static', filename='img/mayak.png') }}" ></a> <!--Изображение, содержащее ссылку на внешний ресурс-->
            <p>На нашем сайте Вы можете найти и приобрести интересующую Вас <b>книгу, журнал, подарочный канцелярский товар и многое другое</b>. Мы гордимся ассортиментом наших книг и наличием <strong>эксклюзивных изданий</strong>. Каждый месяц мы радуем своих клиентов распродажами книг определённого жанра.
            Также у нас Вы можете найти литературу на <u>иностранных</u> языках: <em>английский, французский, немецкий.</em> Доставка печатного экземпляра в страны <abbr title="Евразийский экономический союз">ЕАЭС</abbr> бесплатная.<sup>*</sup></p>
        </section>
        <a href="katalog.html">
            <button class="button-about-katalog">Каталог</button>
        </a>
        </div>
        <section class="services-section">
            <div class="service">
                <div class="content">
                    <img src="{{ url_for('static', filename='img/poet.png') }}" >
                    <p>Нестареющая классика, знакомые с детства персонажи и истории, любимые произведения русской литературы</p>
                </div>
            </div>
            <div class="service">
                <div class="content">
                    <img src="{{ url_for('static', filename='img/shakespeare.png') }}" >
                    <p>Лучшая зарубежная литература на языке оригинала. У нас Вы найдёте произведения более чем на 20 языках</p>
                </div>
            </div>
            <div class="service">
                <div class="content">
                    <img src="{{ url_for('static', filename='img/delivery.png') }}" >
                    <p>Быстрая и надёжная доставка в любой город России нашими курьерами</p>
                </div>
            </div>
            <div class="service">
                <div class="content">
                    <img src="{{ url_for('static', filename='img/chat.png') }}" >
                    <p>Обратная связь с нашим магазином. Мы всегда рады помочь, если у Вас будут вопросы</p>
                </div>
            </div>
            <div class="service">
                <div class="content">
                    <img src="{{ url_for('static', filename='img/coupon.png') }}" >
                    <p>Множество акций и специальных предложений ждёт Вас</p>
                </div>
            </div>
            <div class="service">
                <div class="content">
                    <img src="{{ url_for('static', filename='img/mortarboard.png') }}" >
                    <p>Огромное количество образовательной литературы. Повышайте квалификацию, готвьтесь к экзаменам и просто узнавайте что-то новое</p>
                </div>
            </div>
            <div class="service">
                <div class="content">
                    <img src="{{ url_for('static', filename='img/location-pin.png') }}" >
                    <p>Забрать заказ можно в удобном для Вас пункте выдачи товаров "Полки"</p>
                </div>
            </div>
        </section>
        <!-- <script src="truncate.js"></script> -->
        <section class="about-video-container">
            <div class="video">
                <iframe width="1120" height="630" src="https://www.youtube.com/embed/3EA10-gy-pg?si=7KMHL97HlCU4MgXS&autoplay=1&mute=1&loop=1&playlist=3EA10-gy-pg" title="YouTube video player"  muted autoplay="1">
                </iframe>
            </div>
        </section>
        <section class="map">
            <h2>Наши магазины</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d36001.531724675995!2d37.40408224863281!3d55.669935400000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54dc1d23b51c3%3A0x74763ed59c81ccb6!2z0KDQotCjINCc0JjQoNCt0JA!5e0!3m2!1sru!2sru!4v1695847157926!5m2!1sru!2sru" 
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </section>
        <button class="button-social-media">
            <a href="https://web.telegram.org/">
                <img src="{{ url_for('static', filename='img/free-icon-telegram-2111812.png') }}"  width="24" height="24">
            </a>
            <a href="https://vk.com/">
                <img src="{{ url_for('static', filename='img/free-icon-vk-1236871.png') }}"  width="24" height="24">
            </a>
            <a href="https://web.whatsapp.com/">
                <img src="{{ url_for('static', filename='img/free-icon-whatsapp-1384023.png') }}"  width="24" height="24">
            </a>
            <a href="https://www.youtube.com/">
                <img src="{{ url_for('static', filename='img/free-icon-youtube-1077046.png') }}"  width="24" height="24">
            </a>
        </button>
        <form class="feedback-form" action="" method="post">
            <h2>Отправить отзыв</h2>
            <div class="inputs">
                <div class="input-container">
                    <input type="text" name="name" id="name" required>
                    <label for="name">Имя</label>
                </div>
                <div class="input-container">
                    <input type="text" name="surname" id="surname"  required >
                    <label for="surname">Фамилия</label>
                </div>
                <div class="input-container">
                    <input type="tel" name="phone-number" id="phone-number" required>
                    <label for="phone-number">Номер телефона</label>
                </div>
                <div class="input-container">
                    <input type="text" name="email" id="email" required>
                    <label for="email">Почта</label>
                </div>
                <div class="message input-container">
                    <!-- <label for="name">Имя</label> -->
                    <input type="text" name="text" id="text" required placeholder="Ваш отзыв">
                </div>
                <button class="registration-button" name="registration-button">Отправить</button>
            </div>
        </form>
        <script src="script4.js"></script>
    </main>
{% endblock %}