{% extends 'base.html' %}
{% block main %}
    <main id="Begin"> 
        <ul class="image-gallery">
            <li>
                <img src="{{ url_for('static', filename='img/100-knig-kotorye-nuzhno-prochitat_2.jpg') }}" >
                <p class="image-text">Иллюстрация к роману "Война и мир"</p>
                <button class="like-container">
                    <img id="like" class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
                <script src="scriptgallery.js"></script>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/1674183369_papik-pro-p-risunki-mayakovskogo-24.jpg') }}" >
                <p class="image-text">Владимир Маяковский. Плакат</p>
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
             <li>
                <img src="{{ url_for('static', filename='img/489bf7f167d4ba88bef74fc46af537ec.jpg') }}" >
                <p class="image-text"></p>
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/6403741e0ac86da2f6e43447bdf3522a.jpg') }}" >
                <p class="image-text">М.Ю. Лермонтов. "Я не унижусь пред тобой..."</p>
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/687ac7843685609999cab6f410953273.jpg') }}" >
                <p class="image-text">Иллюстрация к роману "Евгений Онегин"</p>
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/91c4a07fbf723cfd908cd6546b819f85.jpg') }}" >
                <p class="image-text">Дуэль. "Евгений Онегин"</p>
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/b62f7ff72c674f975f0961e5e7d5b98f.jpg') }}" >
                <p class="image-text">Иллюстрация к повести "Пиковая дама"</p>
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/b653ab86f2f507e32625bcb1f3d53ba8.jpg') }}" >
                <p class="image-text"></p>
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
             <li>
                <img src="{{ url_for('static', filename='img/bcf58a7f136514b56f36a66a20b5b46b.jpg') }}" >
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/c84485c3a7557ae81392690cb397255c.jpg') }}" >
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/df19d79ea159efd8ccb8312932e615e7.jpg') }}" >
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/e9439e0419187af2ae90be5721821978.jpg') }}" >
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/f7c8330874b4f486ef27478b93845060.jpg') }}" >
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/izobrazheniya-onegina-illyustraczii-foto-5.jpg') }}" >
                <p class="image-text">Онегин и Татьяна</p>
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/KP_33303.jpg') }}" >
                <p class="image-text">Родион Раскольников</p>
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/Onegin.jpg') }}" >
                <p class="image-text">Онегин и Татьяна</p>
                <button class="like-container">
                    <img class="like-button" src="{{ url_for('static', filename='img/heart (1).png') }}"  width="16" height="16">
                </button>
            </li>
        </ul>
    </main>
{% endblock %}