{% extends 'base.html' %}
{% block main %}

    <main id="trash">
       <div id="trash-cards">
        
       </div>
       <div id="result">
        <div id="text">
            <p class="vsego">
                Всего:</br>
            </p>
            <p id="result-cost">
                150
            </p>
            
            <p><span>руб.</span></p>
        </div>
            
        
        <button id="btn-ex">
            Оформить заказ
        </button>
   </div>
       
    </main>
{% endblock %}